# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

**/bin/
**/obj/
*.suo
.vs

# Visual Studio Code
.vscode

# Rider
.idea
/ads.Acceptance.Tests/TestResults/allure-results
